<div class="row">
  <div class="col-md-6">
    <ol class="list-group list-group-numbered">
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Market Capitalization</div>
          <span id="MarketCapitalization"><%= MarketCapitalization %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EBITDA</div>
          <span id="EBITDA"><%= EBITDA %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">PE Ratio</div>
          <span id="PERatio"><%= PERatio %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">PEG Ratio</div>
          <span id="PEGRatio"><%= PEGRatio %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Book Value</div>
          <span id="BookValue"><%= BookValue %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Dividend Per Share</div>
          <span id="DividendPerShare"><%= DividendPerShare %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Dividend Yield</div>
          <span id="DividendYield"><%= DividendYield %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EPS</div>
          <span id="EPS"><%= EPS %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Revenue Per Share TTM</div>
          <span id="RevenuePerShareTTM"><%= RevenuePerShareTTM %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Profit Margin</div>
          <span id="ProfitMargin"><%= ProfitMargin %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Operating Margin TTM</div>
          <span id="OperatingMarginTTM"><%= OperatingMarginTTM %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Return On Assets TTM</div>
          <span id="ReturnOnAssetsTTM"><%= ReturnOnAssetsTTM %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Return On Equity TTM</div>
          <span id="ReturnOnEquityTTM"><%= ReturnOnEquityTTM %></span>
        </div>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    <ol class="list-group list-group-numbered">
      
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Revenue TTM</div>
          <span id="RevenueTTM"><%= RevenueTTM %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Gross Profit TTM</div>
          <span id="GrossProfitTTM"><%= GrossProfitTTM %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Diluted EPS TTM</div>
          <span id="DilutedEPSTTM"><%= DilutedEPSTTM %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Quarterly Earnings Growth YOY</div>
          <span id="QuarterlyEarningsGrowthYOY"><%= QuarterlyEarningsGrowthYOY %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Quarterly Revenue Growth YOY</div>
          <span id="QuarterlyRevenueGrowthYOY"><%= QuarterlyRevenueGrowthYOY %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Analyst Target Price</div>
          <span id="AnalystTargetPrice"><%= AnalystTargetPrice %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Trailing PE</div>
          <span id="TrailingPE"><%= TrailingPE %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Forward PE</div>
          <span id="ForwardPE"><%= ForwardPE %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Price To Sales Ratio TTM</div>
          <span id="PriceToSalesRatioTTM"><%= PriceToSalesRatioTTM %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Price To Book Ratio</div>
          <span id="PriceToBookRatio"><%= PriceToBookRatio %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EV To Revenue</div>
          <span id="EVToRevenue"><%= EVToRevenue %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EV To EBITDA</div>
          <span id="EVToEBITDA"><%= EVToEBITDA %></span>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Shares Outstanding</div>
          <span id="SharesOutstanding"><%= SharesOutstanding %></span>
        </div>
      </li>
    </ol>
  </div>
</div>
