<div class="row">
  <div class="col-md-6">
    <ol class="list-group list-group-numbered">
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Market Capitalization</div>
          <%= MarketCapitalization %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EBITDA</div>
          <%= EBITDA %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">PE Ratio</div>
          <%= PERatio %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">PEG Ratio</div>
          <%= PEGRatio %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Book Value</div>
          <%= BookValue %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Dividend Per Share</div>
          <%= DividendPerShare %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Dividend Yield</div>
          <%= DividendYield %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EPS</div>
          <%= EPS %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Revenue Per Share TTM</div>
          <%= RevenuePerShareTTM %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Profit Margin</div>
          <%= ProfitMargin %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Operating Margin TTM</div>
          <%= OperatingMarginTTM %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Return On Assets TTM</div>
          <%= ReturnOnAssetsTTM %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Return On Equity TTM</div>
          <%= ReturnOnEquityTTM %>
        </div>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    <ol class="list-group list-group-numbered">
      
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Revenue TTM</div>
          <%= RevenueTTM %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Gross Profit TTM</div>
          <%= GrossProfitTTM %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Diluted EPS TTM</div>
          <%= DilutedEPSTTM %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Quarterly Earnings Growth YOY</div>
          <%= QuarterlyEarningsGrowthYOY %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Quarterly Revenue Growth YOY</div>
          <%= QuarterlyRevenueGrowthYOY %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Analyst Target Price</div>
          <%= AnalystTargetPrice %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Trailing PE</div>
          <%= TrailingPE %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Forward PE</div>
          <%= ForwardPE %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Price To Sales Ratio TTM</div>
          <%= PriceToSalesRatioTTM %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Price To Book Ratio</div>
          <%= PriceToBookRatio %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EV To Revenue</div>
          <%= EVToRevenue %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">EV To EBITDA</div>
          <%= EVToEBITDA %>
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold color1">Shares Outstanding</div>
          <%= SharesOutstanding %>
        </div>
      </li>
    </ol>
  </div>
</div>
